body {
  background-color: #dbdbdb;
  font-size: 100%;
}

#divProcesses ul {
  display: block;
  list-style: none;
  float: left; 
  margin: 30px;
  padding: 15px 15px 50px 15px;
  width: 200px;
  height: 100px;
  border: 1px solid #bfbfbf;
/*  background-color: #fafad2; */
  color: black;
  text-decoration: none;

 -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
/*
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
*/
  overflow: hidden;
}

#divProcesses ul span.processName {
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
}

/*
#divProcesses ul:hover {
  -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(0deg) scale(1.25);
  -moz-transform: rotate(0deg) scale(1.25);
  -o-transform: rotate(0deg) scale(1.25);
  -ms-transform: rotate(0deg) scale(1.25);
  transform: rotate(0deg) scale(1.25);
  z-index: 10;
}
*/